

#AiC4EI-Animation-Box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 100;
}

#Firework-Canvas{
    position: absolute;
    z-index: 50;
}

#AiC4EI-Animation-Box .Title{
    font-weight: 200;
    font-size: 2.7rem;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
}

#AiC4EI-Animation-Box .Title .Letter{
    display: inline-block;
    line-height: 1rem;
}

@media screen and (max-width: 768px){
    #AiC4EI-Animation-Box .Title{
        letter-spacing: 0.4rem;
    }

    #AiC4EI-Animation-Box .Title{
        font-size: 1.8rem;
    }
}